<h1><%= @menu.name %></h1>

<p><%= link_to "Recommencer", reset_menu_path(@menu), method: 'post' %></p>

<dl>
  <% for day in @days %>
    <dt><%= day.name %></dt>
    <dd>
    <dl>
      <% for meal in day.meals %>
        <dt><%= meal.name %></dt>
        <dd><%= meal.recipe.try(:name) %></dd>
      <% end %>
    </dl>
    </dd>
  <% end %>
</dl>

<%= link_to "Ajouter un jour", new_menu_day_path(@menu) %>
