<h1>Ajouter une recette</h1>

<%= form_for @recipe do |f| %>
  <%= render "/shared/error_messages", :target => @recipe %>
  <div>
    <%= f.label :name, "Nom de la recette" %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Enregistrer" %>
<% end %>
