<!DOCTYPE html>
<html>
<head>
  <title>Weeklymenu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
  <%= link_to 'Menus', menus_path %>
  <%= link_to 'Recettes', recipes_path %>
  <%= link_to 'Filtres', tags_path %>
  </p>

  <%= render "/shared/flashes_box" %>

<%= yield %>

</body>
</html>
